@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

body {
  background-image: url('./Assests/edited.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  /* height: 100vh; */
  overflow-x: hidden; 
}

/* .container {
  width: 100%;
  max-width: 400px;
  margin: 30px 50px 30px auto; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  float: right; 
  overflow: hidden;
} */




.container {
  width: 100%;
  max-width: 400px;
  margin: 50px 500px 20px 70px; 
  padding: 15px;
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(3, 3, 3);
  color: rgb(4, 7, 10);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.container1 {
  width: 100%;
  max-width: 300px;
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 500px;
  padding: 15px;
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(3, 3, 3);
  color: rgb(4, 7, 10);
  backdrop-filter: blur(10px);
  overflow: hidden;
}



.signuplogin {
  font-size: 38px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 5px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 900;
}

.form-group {
  margin-bottom: 20px;
}


.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  box-sizing: border-box;
  background: transparent;
  outline-color: #7AB0D9;
}

::placeholder {
  color: rgb(48, 43, 43);
  opacity: 1;
  font-family: 'DM Sans', sans-serif;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation{
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  margin-right: 0px;
  font-weight: 500;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.link-text {
  text-align: center;
  margin-top: 20px;
}

.link-text a {
  color: #007bff;
  text-decoration: none;
}

.link-text a:hover {
  text-decoration: underline;
}

.text-danger {
  color: #dc3545; 
}

.anchor{
  color: black;
}


@media (min-width: 768px) {
  .container {
    max-width: 200px;
  }
}


@media (min-width: 992px) {
  .container {
    max-width: 300px;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 400px;
  }
}


@media (max-width: 767.98px) {
  .container {
    margin: 10px auto;
    padding: 15px;
  }

 
}
